@import "tailwindcss";

@font-face {
  font-family: "Outfit Heading";
  src: url("/fonts/static/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/static/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit smallH";
  src: url("/fonts/static/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "popins medium";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@theme {
  --color-primary: #CFAE91;
  --color-midnight: #031A37;
  --color-chalk: #F8F8F8;
  --color-light-dark: #585858;
  --color-light-primary: #f5f0eb;
  --color-dark: #181818;
  --font-headings: "Outfit Heading";
  --font-smallh: "Outfit smallH";
  --font-para: "Outfit";
  --font-popins-m: "popins medium";
  --animate-nav: opacity-nav .3s linear forwards;
  --animate-waves: waves 3s linear infinite;

  @keyframes opacity-nav {
    0% {
      opacity: 0;
      transform: translateY(20px)
    }

    100% {
      opacity: 1;
      transform: translateY(0)
    }

  }

  @keyframes waves {
    0% {
      transform: scale(0.2, 0.2);
      opacity: 0;
      background: rgba(0, 0, 0, 0.1);
    }

    50% {
      opacity: 0.9;
      background: rgba(0, 0, 0, 0.2);
    }


    100% {
      transform: scale(0.9, 0.9);
      opacity: 0;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

body {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

.text-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

/* .scroll-container {
  border: 2px solid red;
}

#sticky-wrapper {
  border: 2px dashed blue;
} */
html,
body {
  overflow-x: hidden;
}